psycopg2-binary
python-dotenv
fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
frontend
pdfplumber
python-multipart
openpyxl
sqlalchemy 
gdown
apscheduler
pandas
pydub
unidecode
phonemizer
torch
scipy
soundfile
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-genai